<div class="header center">Register</div>
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-form-field>
    <input matInput type="text" id="userName" placeholder="User Name" autocomplete="off" formControlName="userName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" id="email" placeholder="Email" autocomplete="off" formControlName="email" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
  </div>
</form>
