

<div class="row">
  <div class="col-sm-10">
    <h1 mat-dialog-title>
      Requested Friends <mat-icon matBadge="0" matBadgeColor="primary">person</mat-icon>
    </h1>
  </div>
  <div class="col-sm-1">
    <span class="closePageIcon">
      <i class="fas fa-times" id="AddressClose" (click)="onNoClick()"></i>
    </span>
  </div>
</div>
<mat-divider></mat-divider>
<br />
<div mat-dialog-content>

  <form [formGroup]="myRequestForm" fxFlex fxLayout="column" autocomplete="off">
    <mat-selection-list formControlName="userList" #SelectUsers class="SelectAllUsers" id="SelectUsers">
      <mat-list-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-list-option>
      <!--<mat-list-option *ngFor="let user of this.data.user" [value]="user.Id" (click)="SelectUser(user)" class="UserListItem">
        {{user.emallAddress}}
      </mat-list-option>-->
    </mat-selection-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button id="btnAdd" >Remove Request</button>
  <button mat-button (click)="onNoClick()" id="btnCancel">Cancel</button>
</div>
<br />
<mat-divider></mat-divider>
<form [formGroup]="NewRequestForm" (ngSubmit)="request()">
  <mat-form-field>
    <input matInput type="text" id="email" placeholder="Friend Email Address" autocomplete="off" formControlName="email" required>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!NewRequestForm.valid">Send Request</button>
  </div>
</form>
